<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    
    <meta name="keywords" content="uthsawa, photography, wedding, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>උත්සව.lk</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__search">
            <i class="fa fa-search search-switch"></i>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/uthsawaLk.png" alt=""></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Uthsawa.lk</a></li>
                <li><a href="./weddingHoles">Weddinghals & Resturents</a></li>
                <li><a href="/bridleWorks">Bridle & Dressing</a></li>
                <li><a href="/photography">Photography & Vediography</a></li>
                <li><a href="#">More Items</a>
                    <ul class="dropdown">
                        <li><a href="/funtionItems">Catering & function Items</a></li>
                        <li><a href="/entertaintments">Entertaintments</a></li>
                        <li><a href="/eventPlaners">Event Planners</a></li>
                        <li><a href="/weddingCars">WeddingCars</a></li>
                        <li><a href="/cakes">Cakes</a></li>
                        <li><a href="/invitationCards">Invitation Cards</a></li>
                        <li><a href="/jewellery">Jewellery</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget">   <li><i class="fa fa-map-marker"></i> Elpitye , Galle Sri Lanka</li>
            <!-- <li><i class="fa fa-phone"></i> +9491 3908599</li> -->
            <li><i class="fa fa-envelope"></i>  UthsawaLk@uthlk.com</li>
            <li><i class="fa fa-avatar"><a style="color: rgb(16, 27, 4);" href="/userProfile">User Profile</a></i></li>
            <li><i class="fa fa-avatar"><a style="color: rgb(16, 27, 4);" href="/updateUserProfile">Update User Profile</a></i></li>
        
        </ul>
        <!-- <div class="offcanvas__language">
            <img src="img/flag.png" alt="">
            <span>English</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <li><a href="#">English</a></li>
                <li><a href="#">Bangla</a></li>
            </ul>
        </div> -->
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-map-marker"></i> Elpitye , Galle Sri Lanka</li>
                            <!-- <li><i class="fa fa-phone"></i> +9491 3908599</li> -->
                            <li><i class="fa fa-envelope"></i>  UthsawaLk@uthlk.com</li>
                            <li><i class="fa fa-avatar"><a style="color: chartreuse;" href="/userProfile">User Profile</a></i></li>
                            <li><i class="fa fa-avatar"><a style="color: chartreuse;" href="/updateUserProfile">Update User Profile</a></i></li>
                        </ul>
                    </div>
                    <!-- <div class="col-lg-3">
                        <div class="header__top__language">
                            <a href="/myProfile"></a>
                            <a href="/editMyProfile"></a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="offcanvas-menu-overlay"></div>
        <div class="offcanvas-menu-wrapper">
            <div class="offcanvas__search">
                <i class="fa fa-search search-switch"></i>
            </div>
            <div class="offcanvas__logo">
                <a href="./index.html"><img src="img/uthsawaLk.png" alt=""></a>
            </div>
            <nav class="offcanvas__menu mobile-menu">
                <ul>
                    <li class="active"><a href="./index.html">Uthsawa.lk</a></li>
                    <li><a href="./weddingHoles">Weddinghals & Resturents</a></li>
                    <li><a href="/bridleWorks">Bridle & Dressing</a></li>
                    <li><a href="/photography">Photography & Vediography</a></li>
                    <li><a href="#">More Items</a>
                        <ul class="dropdown">
                            <li><a href="/funtionItems">Catering & function Items</a></li>
                            <li><a href="/entertaintments">Entertaintments</a></li>
                            <li><a href="/eventPlaners">Event Planners</a></li>
                            <li><a href="/weddingCars">WeddingCars</a></li>
                            <li><a href="/cakes">Cakes</a></li>
                            <li><a href="/invitationCards">Invitation Cards</a></li>
                            <li><a href="/jewellery">Jewellery</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
            <ul class="offcanvas__widget">   <li><i class="fa fa-map-marker"></i> Elpitye , Galle Sri Lanka</li>
                <!-- <li><i class="fa fa-phone"></i> +9491 3908599</li> -->
                <li><i class="fa fa-envelope"></i>  UthsawaLk@uthlk.com</li>
                <li><i class="fa fa-avatar"><a style="color: rgb(16, 27, 4);" href="/userProfile">User Profile</a></i></li>
                <li><i class="fa fa-avatar"><a style="color: rgb(16, 27, 4);" href="/updateUserProfile">Update User Profile</a></i></li>
            
            </ul>
            <!-- <div class="offcanvas__language">
                <img src="img/flag.png" alt="">
                <span>English</span>
                <i class="fa fa-angle-down"></i>
                <ul>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Bangla</a></li>
                </ul>
            </div> -->
        </div>
        <!-- Offcanvas Menu End -->
    
        <!-- Header Section Begin -->
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <ul class="header__top__widget">
                                <li><i class="fa fa-map-marker"></i> Elpitye , Galle Sri Lanka</li>
                                <!-- <li><i class="fa fa-phone"></i> +9491 3908599</li> -->
                                <li><i class="fa fa-envelope"></i>  UthsawaLk@uthlk.com</li>
                                <li><i class="fa fa-avatar"><a style="color: chartreuse;" href="/userProfile">User Profile</a></i></li>
                                <li><i class="fa fa-avatar"><a style="color: chartreuse;" href="/updateUserProfile">Update User Profile</a></i></li>
                            </ul>
                        </div>
                        <!-- <div class="col-lg-3">
                            <div class="header__top__language">
                                <a href="/myProfile"></a>
                                <a href="/editMyProfile"></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__search">
            <i class="fa fa-search search-switch"></i>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/uthsawaLk.png" alt=""></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Uthsawa.lk</a></li>
                <li><a href="./weddingHoles">Weddinghals & Resturents</a></li>
                <li><a href="/bridleWorks">Bridle & Dressing</a></li>
                <li><a href="/photography">Photography & Vediography</a></li>
                <li><a href="#">More Items</a>
                    <ul class="dropdown">
                        <li><a href="/funtionItems">Catering & function Items</a></li>
                        <li><a href="/entertaintments">Entertaintments</a></li>
                        <li><a href="/eventPlaners">Event Planners</a></li>
                        <li><a href="/weddingCars">WeddingCars</a></li>
                        <li><a href="/cakes">Cakes</a></li>
                        <li><a href="/invitationCards">Invitation Cards</a></li>
                        <li><a href="/jewellery">Jewellery</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget">   <li><i class="fa fa-map-marker"></i> Elpitye , Galle Sri Lanka</li>
            <!-- <li><i class="fa fa-phone"></i> +9491 3908599</li> -->
            <li><i class="fa fa-envelope"></i>  UthsawaLk@uthlk.com</li>
            <li><i class="fa fa-avatar"><a style="color: rgb(16, 27, 4);" href="/userProfile">User Profile</a></i></li>
            <li><i class="fa fa-avatar"><a style="color: rgb(16, 27, 4);" href="/updateUserProfile">Update User Profile</a></i></li>
        
        </ul>
        <!-- <div class="offcanvas__language">
            <img src="img/flag.png" alt="">
            <span>English</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <li><a href="#">English</a></li>
                <li><a href="#">Bangla</a></li>
            </ul>
        </div> -->
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-map-marker"></i> Elpitye , Galle Sri Lanka</li>
                            <!-- <li><i class="fa fa-phone"></i> +9491 3908599</li> -->
                            <li><i class="fa fa-envelope"></i>  UthsawaLk@uthlk.com</li>
                            <li><i class="fa fa-avatar"><a style="color: chartreuse;" href="/userProfile">User Profile</a></i></li>
                            <li><i class="fa fa-avatar"><a style="color: chartreuse;" href="/updateUserProfile">Update User Profile</a></i></li>
                        </ul>
                    </div>
                    <!-- <div class="col-lg-3">
                        <div class="header__top__language">
                            <a href="/myProfile"></a>
                            <a href="/editMyProfile"></a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
           
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 80px;">
				<div class="container-fluid"><h1 style="font-size: 18px;">
					<a class="navbar-brand" href="index"><img src="img/uthsawaLk.png" style="height: 250px; width: 150px;;" alt=""></a></h1>
				  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
					  
					  <li class="nav-item">  <center>
						<a class="nav-link" href="/weddingHoles" style="color: white;" >Wedding Holes <br> & <br>Recipients</a></center>
					  </li>
					  
					  <li class="nav-item">
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
					  </li> 

					  <li class="nav-item">
                        <center>
                      <a class="nav-link" href="/bridleWorks" style="color: white;" >Bridle Dressing <br>&<br> Grooms</a></center>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
                    </li> 
                    
                    <li class="nav-item"><center>
                      <a class="nav-link" href="/photography" style="color: white;">photography <br>&<br> Vediography</a></center>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
                    </li>
                    
                    <li class="nav-item"><center>
                      <a class="nav-link"href="/funtionItems"style="color: white;">Catering <br>&<br> Function Items</a></center>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
                    </li>
                    <li class="nav-item"><center>
                      <a class="nav-link" href="/entertaintments"style="color: white;" >Entertainment</a></center>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
                    </li>
                    <li class="nav-item"><center>
                      <a class="nav-link" href="/eventPlaners"style="color: white;" >Event Planners</a></center>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
                    </li>
                    <li class="nav-item"><center>
                      <a class="nav-link"href="/weddingCars"style="color: white;" >Wedding Cars</a></center>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
                    </li>
                    <li class="nav-item"><center>
                      <a class="nav-link" href="/cakes"style="color: white;">Cakes</a></center>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
                    </li>
                    <li class="nav-item"><center>
                      <a class="nav-link" style="color: rgb(238, 107, 107);">Jewellery</a></center>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
                    </li>
                    <li class="nav-item"><center>
                      <a class="nav-link" href="/invitationCards"style="color: white;">Invitation Cards</a></center>
                    </li>
					  
					</ul>
				  </div>
				</div>
			  </nav>
            
        
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero set-bg" data-setbg="img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="hero__text">
                        <h2>ඔබගේ සියළුම උත්සව අවස්තා සදහා </h2>
                        <p style="font-size: 22px;">අවශ්‍ය ආභරණ නිර්මාණකරුවන්  පහසුවෙන් ඔබම අඩුම මිලට සොයාගන්න</p>
                        <a href="jewellery_Search" class="primary-btn">සොයන්න</a>
                        
                        <a href="/jewellery_add_publish" class="primary-btn howit-btn"> Add Publish</a>
                    </div>
                    <!-- <a href="editProfile" class="primary-btn">Profile</a> -->
                </div>
                <!-- <div class="col-lg-5 offset-lg-2">
                    <div class="hero__form">
                        <h3>How much do you need</h3>
                        <form action="#">
                            <div class="input-list">
                                <div class="input-list-item">
                                    <p>Amount of money ($):</p>
                                    <input type="text">
                                </div>
                                <div class="input-list-item">
                                    <p>How long for (day):</p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="input-full-width">
                                <p>Repayment:</p>
                                <input type="text">
                            </div>
                            <div class="input-list last">
                                <div class="input-list-item">
                                    <p>Name:</p>
                                    <input type="text">
                                </div>
                                <div class="input-list-item">
                                    <p>Phone:</p>
                                    <input type="text">
                                </div>
                            </div>
                            <button type="submit" class="site-btn">Get Your Loan Now!</button>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Home About Begin -->
    
    <!-- Home About End -->

    <!-- Loan Services Section Begin -->
    
    <!-- Loan Services Section End -->

    <!-- Choose Section Begin -->
    
    <!-- Choose Section End -->

    <!-- Testimonial Section Begin -->
   
    <!-- Testimonial Section End -->

    <!-- Counter Begin -->
    
    <!-- Counter End -->

    <!-- Call Section Begin -->
    
    <!-- Call Section End -->

    <!-- Blog Section Begin -->
    
    <!-- Blog Section End -->

    <!-- Contact Begin -->
    
    <!-- Contact End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/uthsawaLk.png" alt=""></a>
                        </div>
                        <p>හමුවීමකින් තොරව මුදල් ගෙවීමකින් සිදුවන වංචා පිලිබද අප ආයතනය වගකීමක් නොදරණ බව  ඉතා කාරුණිකව සිහිතබා ගන්න</p>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Services</h5>
                        <div class="footer__widget">
                            <ul>
                                <li><a href="#">Wedding Holes & Resturents</a></li>
                                <li><a href="#">Bridle & Dressing</a></li>
                                <li><a href="#">Photography & Vediography</a></li>
                                <li><a href="#">Catering & Functional Items</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Services</h5>
                        <div class="footer__widget footer__widget--social">
                            <!-- <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="fa fa-skype"></i> Skype</a></li>
                            </ul> -->
                            <ul>
                                <li><a href="#">Entertainment</a></li>
                                <li><a href="#">Event Planners</a></li>
                                <li><a href="#">Wedding Cars</a></li>
                                <li><a href="#">Cakes</a></li>
                            </ul>




                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget footer__widget--address">
                        <h5>Services</h5>
                        <!-- <p>We work all days a week, Please contact us for any inquiry.</p> -->
                        <ul>
                            <li>Jewellery</li>
                            <li>Invitation Cards</li>
                            <li>Floral Works</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul class="footer__copyright__links">
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Community</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | The Uthsawa . Lk  Made by <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Jay  </a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>